<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ARS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ars.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.ars.controller.SearchFlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingConfirmationController</display-name>
    <servlet-name>BookingConfirmationController</servlet-name>
    <servlet-class>com.ars.controller.BookTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingConfirmationController</servlet-name>
    <url-pattern>/BookingConfirmationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookingController</display-name>
    <servlet-name>ViewBookingController</servlet-name>
    <servlet-class>com.ars.controller.ViewBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookingController</servlet-name>
    <url-pattern>/ViewBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.ars.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>